html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  width: 360px;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
}

canvas {
  height: 360px;
}

header {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

main {
  overflow: auto;
  flex: 1;
}

.clear {
  height: 26px;
  font-size: 1.2rem;
  border-radius: 13px;
  background-color: #eee;
  position: absolute;
  font-weight: 600;
  line-height: 20px;
  right: 20px;
  margin-top: 5px;
  cursor: pointer;
  border: none;
  padding: 0 15px;
}
